{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center">
        <h3>My Symfony 4 sample project</h3>
        <div class="jumbotron text-center">
            <example></example>
	    <tabsn></tabsn>
	    <carouseln></carouseln>
	    <cartbutton></cartbutton>
        </div>
    </div>
{% endblock %}