<template>
<div class="mainCarousel">
Here Carousel Text

  <carousel :per-page="1" :mouse-drag="false" :navigation-enabled="true">
    <slide>
      Slide 1 Content
    </slide>
    <slide>
      Slide 2 Content
    </slide> 
	<slide>
      Slide 3 Content
    </slide>
	<slide>
      Slide 4 Content
    </slide>
	<slide>
      Slide 5 Content
    </slide>
  </carousel>

</div>
</template>

<script>

import { Carousel, Slide } from 'vue-carousel';
export default {
    name: "Carouseln",
    components: {
    Carousel,
    Slide
    }
};
</script>
<style>
.mainCarousel { width: 80%; padding: 100px;  }
</style>