<template>
    <div>
    

<a 
  href="#"
  class="cartbutton" 
  v-on:click="myFilter"
  v-bind:class="{ active: isActive }">
 {{ isActive ? 'В корзине' : 'В корзину' }}
</a>


    </div>
</template>
<script>
    export default {
        name: "cartbutton",

	 data: function () {
    return {
      isActive: false
    }
  },
	
	

	methods: {
		myFilter: function() {
		this.isActive = !this.isActive;
    }
  }


}
</script>
<style scoped>
.cartbutton { background-color: red; color: white; } 
.active { background-color: green; }
</style>