<template>
    <div>
        <p>This is TabsN</p>
    

<tabs>
    <tab title="Vue">
      This is Vue
    </tab>
    <tab title="React">
      This is React
    </tab>
    <tab title="Svelte">
      This is Svelte
    </tab>
  </tabs>

    </div>

</template>

<style src="vue-slim-tabs/themes/default.css"></style>
<script>
    import { Tabs, Tab } from 'vue-slim-tabs'
    import axios from 'axios'

    export default {
        name: "tabsn",
	    components: {
            Tabs, Tab
        },
        created: function () {
            console.log('12313');
        }
    }


</script>
<style scoped>
</style>